.menu-btn {
    border: 1px solid rgb(99, 96, 96);
    border-radius: 6px;
    position: absolute;
    right: 1rem;
    top: 1rem;
    width: 40px;
    height: 30px;
    cursor: pointer;
    z-index: 1;
    @include transition-east;

    &_burger {
        position: absolute;
        top: .8rem;
        right: .4rem;
        width: 25px;
        height: 1px;
        background: set-text-color($primary-color);
        @include transition-east;

        &::before {
            content: '';
            position: absolute;
            width: 25px;
            height: 1px;
            background: set-text-color($primary-color);
            top: -8px;
            @include transition-east;
        }
        &::after {
            content: '';
            position: absolute;
            width: 20px;
            height: 1px;
            background: set-text-color($primary-color);
            top: 8px;
            @include transition-east;
        }
        &.open {
            // transform: rotate(720deg);
            background: transparent;

            &::before {
                transform: rotate(45deg) translate(8px, 3px);
                width: 15px;
            }
            &::after {
                transform: rotate(-45deg) translate(8px, -3px);
                width: 15px;
            }
        }
    }
    
    &:hover {
        border: 1px solid $secondary-color;
    }
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    opacity: .8;
    visibility: hidden;

    &.open {
        visibility: visible;
    }
    .menu-nav {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        height: 100vh;
        overflow: hidden;
        background: $primary-color;
        transform: translateY(-100%);
        @include transition-east;

        &.open {
            transform: translateY(0);
        }
        &_item {
            transform: translateX(100vw);
            @include transition-east;

            &.open {
                transform: translateX(0);
            }
            &.active > a {
                color: $secondary-color;
            }
        }
        &_link {
            display: inline-block;
            font-size: 2rem;
            text-transform: uppercase;
            padding: 2rem 0;
            font-weight: 300;
            @include transition-east;

            &:hover {
                color: $secondary-color;
            }
        }
    }
}

@for $i from 1 through 4 {
    .menu-nav_item:nth-child(#{$i}) {
        transition-delay: ($i * .1s) + .15s;
    }
}