.project {
    padding-bottom: 2rem;

    &__bio-img {
        width: 100%;
        height: 50vh;
        background: linear-gradient(to right, rgba($primary-color, .7), rgba($primary-color, .5)), 
                     url('../img/pf-5.jpg') center top;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;

        .text-secondary {
            font-size: 2rem;
            padding-bottom: 3rem;
        }   
    }
    

    &__items {
        width: 60vw;
        margin: 2rem auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 2rem;
    }

    &__item {
        border-bottom: 5px solid $secondary-color;
        position: relative;
        overflow: hidden;
        cursor: pointer;

        img {
            width: 100%;
        }

        &::after {
            content: '';
            position: absolute;
            top: 100%;
            left: 0;
            height: 100%;
            width: 100%;
            background: $secondary-color;
            opacity: 0;
            @include transition-east;

        }
        &:hover {
            &::after {
                top: 0;
                opacity: .9;
            }
            .project_btn {
                opacity: 1;
            }
        }
    }
    &_btns {
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        z-index: 1;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        text-align: center;
        align-items: center;
    }

    &_btn {
        opacity: 0;
        color: set-text-color($secondary-color);
        @include transition-east;

        &:hover {
            color: set-text-color(set-text-color($secondary-color));
        }
    }
    .social-icons {
        display: flex;
        flex-direction: column;
    }

    footer {
        transform: rotate(90deg) translate(-3rem, -5rem);
    }
}